@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Roboto:400,300,500,700);
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
body {
	background-color: #FEFEFE;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	width: 480px;
}
/* --------------------------------- LINKS --------------------------------- */
a 			{ text-decoration: none; color: #000000; }
a:link		{ text-decoration: none; color: #000000; }
a:hover		{ text-decoration: none; color: #FEFEFE; background-color: #000000; }
a:visited	{ text-decoration: none; }
a.head 			{ text-decoration: none; border: #000 solid 1px; color: #FEFEFE; margin: auto; padding: 3px; }
a.head:link		{ text-decoration: none; border: #000 solid 1px; color: #FEFEFE; background-color: #000000; }
a.head:hover	{ text-decoration: none; border: #000 solid 1px; color: #000000; background-color: #FEFEFE; }
a.head:visited	{ text-decoration: none; border: #000 solid 1px; }
